<!-- 

Copyright 2016-present, Facebook, Inc.
All rights reserved.

This source code is licensed under the license found in the
LICENSE file in the root directory of this source tree.

-->
<html>
	<body>
			<table>
				<tr>
					<td>Username</td><td>:</td><td><input type="text" placeholder="Username" id="username"/></td></tr>
					<td>Password</td><td>:</td><td><input type="password" placeholder="Password" id="password"/></td></tr>
					<input type="hidden" id="alt" value="<%= alt %>"/>
					<input type="hidden" id="sid" value="<%= senderID %>"/>
					<td></td><td></td><td><input type="Submit" value="Log in" onclick="send()"/></td></tr>
			</table>
		<script>
			function send(){
				var xhr = new XMLHttpRequest();
				xhr.open("POST", 'https://mortgage-testv1.herokuapp.com/auth', false);
				xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				
				var data = [];
				data.push('username='+document.getElementById('username').value);
				data.push('password='+document.getElementById('password').value);
				data.push('redirect='+document.getElementById('redirect').value);
				data.push('sid='+document.getElementById('sid').value);
				
				console.log(data.join('&'));

				xhr.onreadystatechange = function() {
					if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
						console.log('test');
						//self.close();
					}
				}
				xhr.send(data.join('&'));
			}
			
			
		</script>
	</body>
</html>